body {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #000000;
	margin: 0px;
}
a {
	text-decoration: none;
	color: #C0C0C0;
}
a:hover {
	color: #3399FF;
	text-decoration: underline;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #CE0005;
	font-weight: bold;
	margin: 0px;
	font-size: small;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #1493FA;
	font-size: x-large;
	margin-bottom: 5px;
	font-weight: lighter;
}
.header-a {
	background-image: url('../img/bg2.jpg');
	background-repeat: repeat-x;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 229px;
	top: 0px;
}
.hd2container {
	position: relative;
	z-index: 3;
	width: 960px;
	margin: auto;
}
.header3 {
	background-image: url('../img/bg3home.jpg');
	background-repeat: repeat-x;
	position: absolute;
	width: 100%;
	height: 250px;
	top: 290px;
	z-index: 2;
}
.contentwrapperHm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #FFFFFF;
	width: 100%;
	top: 450px;
	position: absolute;
	z-index: 2;
	height: 750px;
	background-color: #111111;
}
.header4 {
	height: 211px;
	width: 100%;
	top: 1090px;
	position: absolute;
	z-index: 5;
	background-image: url('underbar.jpg');
	background-repeat: repeat-x;
}
.footerhm {
	background-image: url('../img/footerbg.jpg');
	background-repeat: repeat-x;
	position: absolute;
	width: 100%;
	height: 172px;
	z-index: 2;
	top: 1310px;
}
.sheet {
	position: relative;
	z-index: 3;
	width: 940px;
	margin: auto;
	padding: 20px;
	display: block;
	overflow: visible;
}
.sidebar {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #C0C0C0;
	position: absolute;
	z-index: 3;
	width: 240px;
	height: 690px;
	font-size: small;
}
.nav {
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: small;
	color: #C0C0C0;
	background-image: url('../img/navbar.png');
	background-repeat: no-repeat;
	padding: 20px 10px 5px 10px;
	position: absolute;
	z-index: 100;
	width: 472px;
	height: 53px;
	top: 0px;
	right: 10px;
	text-align: center;
}
.logo {
	position: absolute;
	z-index: 5;
	top: 25px;
}
.tagline {
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #C0C0C0;
	position: absolute;
	z-index: 200;
	right: 50px;
	top: 56px;
	width: 500px;
	text-align: center;
}
.flashcontainer {
	width: 960px;
	position: relative;
	z-index: 500;
	top: -150px;
	margin: auto;
}
.contentstyle {
	font-family: Arial, Helvetica, sans-serif;
	color: #C0C0C0;
	font-size: small;
	position: absolute;
	width: 620px;
	height: 850px;
	top: 20px;
	right: 20px;
}
.footercontainer {
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	font-size: small;
	text-align: center;
	position: relative;
	margin: auto;
	padding: 10px;
	width: 960px;
	z-index: 10;
}
.imglink {
	border-width: 0px;
}
.footerdecal {
	vertical-align: middle;
}
.footericons {
	border-width: 0px;
	margin: 8px;
}
.seperator {
	color: #484848;
}
.sublinks {
	color: #C0C0C0;
}
.sublinks:hover {
	color: #FFFFFF;
}
.subheaderlink {
	width: 960px;
	height: 190px;
	padding: 10px;
	top: 10px;
	position: relative;
	margin: auto;
	z-index: 6;
}
.box1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #C0C0C0;
	width: 250px;
	font-weight: normal;
	top: 10px;
	position: absolute;
	left: 39px;
}
.sp1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #C0C0C0;
	width: 18px;
	font-weight: normal;
	top: -10px;
	position: absolute;
	left: 284px;
	z-index: 5;
}
.box2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #C0C0C0;
	width: 361px;
	font-weight: normal;
	top: 10px;
	position: absolute;
	left: 315px;
}
.sp2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #C0C0C0;
	width: 18px;
	font-weight: normal;
	top: -10px;
	position: absolute;
	left: 680px;
	z-index: 5;
}
.box3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #C0C0C0;
	width: 250px;
	font-weight: normal;
	top: 10px;
	position: absolute;
	left: 705px;
}
.metalinking {
	font-size: x-small;
	color: #666666;
}
